.App {}

.App-header {
  display: flex;
  flex-direction: column;
  height: flex;
}

.App-footer {
  display: flex;
  background-color: #a6a6a6;
  text-align: center;
  height: 1%;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  gap: 2rem;
  background-color: rgb(191, 204, 181);
}

.public {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-page {
  display: grid;
  justify-items: center;
}

.App-title-intro {
  color: black;
  font-family: CerebriSans-SemiBold, -apple-system, BlinkMacSystemFont, Roboto,
    sans-serif;
  font-size: 38px;
  font-weight: 400;
  margin-left: 9%;
  margin-right: 9%;
  max-width: 800px;
  text-align: center;
  align-items: center;
}

.mainContainer {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2rem;
  height: 75%;
  overflow: scroll;
  overflow-x: hidden;
  flex: 1;
  max-width: 800px;
  padding: 3rem;
  border-radius: 25px;
  background-color: #fcfeff;
  align-items: stretch;
  justify-content: flex-start;
  border-top: 10px;
}

.mainContainer a:hover {
  text-decoration: dotted;
  cursor: pointer;
  padding: 0.5rem;
  font-weight: bolder;
  font-size: 17px;
}

.NavbarItem-left a:hover {
  background-color: #9b9b9b;
  color: #41403e;
}

.sideContainer {
  flex: 1;
  height: 500px;
  max-width: 150px;
  padding: 1rem;
  background-color: rgb(183, 183, 183);
  border-radius: 25px;
  align-self: left;
  text-decoration: none;
}
.itemListSideMenu {
  padding-bottom: 0.5rem;

}

.templateScreenshot {
  width: 500px;
}

.vendorsList h1 {
  text-align: left;
  padding-left: 5rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.libraryDiv ul {
  list-style-type: none;
}

table {
  text-align: left;
}

.handoffListAdvise {
  font-size: 10px;
}

.handoffList button {
  margin-left: 5px;
}

.DevelopersList td,
th {
  padding-right: 1.5rem;
}

.GamesList td {
  padding-right: 1.5rem;
}

.VendorsList {
  line-height: 1rem;
}

.VendorsList tr:hover {
  background-color: #e7e7e7;
}

.VendorsList td,
th {
  padding-right: 1rem;
}

.VendorsList a {
  padding: 0;
}

.addNewVendorButton button {
  padding: 0.45rem;
}

/* CSS button:   https://getcssscan.com/css-buttons-examples  by Paper CSS*/

.VendorsListDiv {
  border: 1px solid #dededf;
  height: 100%;
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
}

.VendorsListDiv th {
  border: 1px solid #dededf;
  background-color: #eceff1;
  color: #000000;
  padding: 5px;
}

.VendorsListDiv td {
  border: 1px solid #dededf;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;

}

.VendorsListDiv button {
  align-self: center;
  background-image: none;
  background-repeat: repeat no-repeat;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  outline: none;
  text-decoration: none;
  border: none;
  background-color: #ffffff;


}


.VendorsListDiv button:hover {
  border-radius: 5px;
  border: 1px solid black;
}

.buttonNew{
  margin-left: 0.5rem;
}
/* NEWVENDOR*/

.AddVendorButton:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.temporalButtonChildToParent {
  font-size: 10px;
  color: rgb(94, 121, 209);
}

.RequestListed {
  line-height: 1.5rem;
}

.requestWarning {
  font-size: 70%;
  color: rgb(238, 231, 218);
}

.itemTemplateList{
  padding-bottom: 3px;
}
.templateList {
  padding-right: 8px;
}

.btnTemplateList {
  padding-right: 4px;
  padding-left: 4px;
  margin-right: 4px;
}

.btnStarTemplateList {
  padding: 1px;
  margin-right: 4px;
  width: 30px;
}

/*CREATE USER*/


.Input_50{
  width: 70%
}

.languagesInputsList{
  margin: 0;
}

/*SIDE MENU*/

.SideMenuLinks a:visited {
  color: blue;
  
}