:root {
  --background-color: #DAE3E5;
  --box-color: #BBD1EA;
  --navbar-color: #A1C6EA;
  --footer-color: #507DBC;
  --black-color: #04080F;
  --containers-color: #ffffff;
}

.App-header {
  display: flex;
  flex-direction: column;
  height: flex;
  background-color: var(--footer-color);
}

.App-footer {
  display: flex;
  background-color: var(--footer-color);
  text-align: center;
  height: 1%;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  gap: 2rem;
  background-color: var(--background-color);
}

.public {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-page {
  display: grid;
  justify-items: center;
}

.App-title-intro {
  color: black;
  font-family: CerebriSans-SemiBold, -apple-system, BlinkMacSystemFont, Roboto,
    sans-serif;
  font-size: 38px;
  font-weight: 400;
  margin-left: 9%;
  margin-right: 9%;
  max-width: 800px;
  text-align: center;
  align-items: center;
}

.mainContainer {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2rem;
  height: 75%;
  overflow: scroll;
  overflow-x: hidden;
  flex: 1;
  max-width: 800px;
  padding: 3rem;
  border-radius: 25px;
  background-color: var(--containers-color);
  align-items: stretch;
  justify-content: flex-start;
  border-top: 10px;
}

.mainContainer div {
  margin-bottom: 10px;
}

.mainContainer a:hover {
  text-decoration: dotted;
  cursor: pointer;
  padding: 0.5rem;
  font-weight: bolder;
  font-size: 17px;
}

.NavbarItem-left a:hover {
  background-color: #9b9b9b;
  color: #41403e;
}

.templateScreenshot {
  border: none;
  font-size: 1rem;
  padding: 13px 0;
  border-radius: 7px;
  cursor: pointer;
  text-align: center;
  transition: 0.2s ease;
  width: 45%;
}

.logOutButton {
  border: none
}

.logOutButton:hover {
  text-decoration: none;
}


.vendorsList h1 {
  text-align: left;
  padding-left: 5rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.libraryDiv ul {
  list-style-type: none;

}

.libraryDiv div {

  margin: 1.5rem 3rem 1.5rem 3rem;
}

.small-description-profile-library{
  font-size: small;
  font-style: italic;
}
.title-profile-library{
  margin: 0 0 0 0.5rem;
}

table {
  text-align: left;
}

.handoffListAdvise {
  font-size: 10px;
}

.handoffList button {
  margin-left: 5px;
}

.DevelopersList td,
th {
  padding-right: 1.5rem;
}

.GamesList td {
  padding-right: 1.5rem;
}

.VendorsList {
  line-height: 1rem;
}

.VendorsList tr:hover {
  background-color: #e7e7e7;
}

.VendorsList td,
th {
  padding-right: 1rem;
}

.VendorsList a {
  padding: 0;
}

.addNewVendorButton button {
  padding: 0.45rem;
}

/* CSS button:   https://getcssscan.com/css-buttons-examples  by Paper CSS*/

.VendorsListDiv {
  border: 1px solid #dededf;
  height: 100%;
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
}

.VendorsListDiv th {
  border: 1px solid #dededf;
  background-color: #eceff1;
  color: #000000;
  padding: 5px;
}

.VendorsListDiv td {
  border: 1px solid #dededf;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;

}

.VendorsListDiv button {
  align-self: center;
  background-image: none;
  background-repeat: repeat no-repeat;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  outline: none;
  text-decoration: none;
  border: none;
  background-color: #ffffff;


}


.VendorsListDiv button:hover {
  border-radius: 5px;
  border: 1px solid black;
}

.buttonNew {
  margin-left: 0.5rem;
}

/* NEWVENDOR*/

.AddVendorButton:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.temporalButtonChildToParent {
  font-size: 10px;
  color: rgb(94, 121, 209);
}

.RequestListed {
  line-height: 1.5rem;
}

.requestWarning {
  font-size: 70%;
  color: var(--footer-color)
}

.itemTemplateList {
  padding-bottom: 3px;
}

.templateList {
  padding-right: 8px;
}

.btnTemplateList {
  padding-right: 4px;
  padding-left: 4px;
  margin-right: 4px;
}

.btnStarTemplateList {
  padding: 1px;
  margin-right: 4px;
  width: 30px;
}

/*CREATE USER*/


.Input_50 {
  width: 70%
}

.languagesInputsList {
  margin: 0;
}

/*SIDE MENU*/

.SideMenuLinks a:visited {
  color: blue;

}

.attReqListInputs input[type="text"] {
  font-size: 1.75rem;

}

.attReqListInputs {
  width: 35%;
  max-width: 85%;
  height: 0.5em;
  padding: 0.5em 1em;
  outline: 0;
}

.attReqListInputsSpan {
  max-width: 85%;
  position: absolute;
  left: -9999px;
  display: inline-block;
  min-width: 35%;
}


.expandableGeneralInput input[type="text"] {
  font-size: 1.75rem;

}

.expandableGeneralInput {
  width: 25%;
  max-width: 85%;
  height: 0.5em;
  padding: 0.5em 1em;
  outline: 0;
}

.expandableGeneralInputSpan {
  max-width: 85%;
  position: absolute;
  left: -9999px;
  display: inline-block;
  min-width: 25%;
}

.sideContainer {
  background: #f8f9fa;
  flex: 1;
  height: 500px;
  max-width: 230px;
  border-radius: 25px;
}

.menu-item {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  /* Spacing between menu items */
}

.menu-item:hover {
  padding: 1.5rem;
  background: #e2e6ea;

}

.itemListSideMenu {
  margin-bottom: 10px;
}

.itemListSideMenu:hover {
  background: #e2e6ea;
}


.menu-item a {
  text-decoration: none;
  /* Remove underline from links */
  color: #343a40;
  /* Dark text color */
  display: block;
  /* Make link take the full width */
}

.favorite-templates-title {
  margin-top: 1rem;
  /* Spacing above the title */
  font-weight: bold;
  /* Bold text for title */
}

.favorite-templates-list {
  list-style-type: none;
  padding-left: 15px;
}

.favorite-templates-list li {
  max-width: 80%;
  color: #495057;
}

.favorite-templates-list a:hover {
  color: blue;
}

.drafts-icon {
  padding-right: 7px;
}

.new-item-side-menu {
  padding-left: 10px;
}

.public-main-salutation {
  color: #343a40;
  justify-self: center;
}

.introduction p {
  margin: 0px;
}

.fav-templates-side-menu {

  max-height: 264px;
  overflow: auto;
}